@font-face {
    font-family: 'supreme_llthin';
    src: url('supremell-thin-webfont.woff2') format('woff2'),
         url('supremell-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'supreme_llregular';
    src: url('supremell-regular-webfont.woff2') format('woff2'),
         url('supremell-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helvetica_neue_lt_com43LtEx';
    src: url('helveticaneueltcom-ltex-webfont.woff2') format('woff2'),
         url('helveticaneueltcom-ltex-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}